@use '../variables' as v;

.content {
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 3rem;

    position: relative;


    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, auto));
        align-items: center;
        justify-items: center;
        gap: 30px;

        div {
            position: relative;

            img {
                height: 300px;
                max-width: 100%;
                display: block;
                object-fit: cover;
            }
        }
    }

    &-title {
        width: 80%;
        margin: 0 auto;
        padding: 1.5rem 3rem;
        background-color: v.$background-color !important;

        color: v.$primary-color !important;
        font-family: v.$Quicksand;

        box-shadow: v.$primary-shadow !important;
    }
}

.card-content {
    border-top: 1px solid v.$border;
    background-color: v.$background-color;
    color: wheat;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-top {
        border-top: 1px solid v.$border;
        background-color: v.$background-color;
        color: wheat;

        p, h2{
            font-family: v.$Quicksand;
            letter-spacing: 1px;
            color: v.$primary-color;
        }
    }


    a {
        color: wheat;
        background-color: v.$primary-color;
        font-family: v.$Quicksand;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: v.$secondary-color;
            color: wheat;
            text-decoration: none;
        }
    }

    &--span {
        background-color: v.$primary-color;
        color: wheat;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    &--span2 {
        background-color: v.$primary-color;
        color: wheat;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-family: v.$Quicksand;
        letter-spacing: 1px;
    }

}

.bc {
    color: v.$primary-color;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: v.$secondary-color;
    }

    &-p {
        font-weight: 600 !important;
        font-size: 20px !important;
        color: v.$secondary-color !important;
    }
}


@media (max-width: 600px) {
    .content {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
}
