@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark-purple: #2B193D;
$space-cadet: #2C365E;
$independece: #484D6D;
$wintergreen-dream: #4B8F8C;
$tuscany: #C5979D;
$indianred: #d15641;
$second: #6ebfc2;

$Playfair: 'Playfair Display', serif;
$Quicksand: 'Quicksand', sans-serif;
$Roboto: 'Roboto', sans-serif;
$dark: #3c393d;
$exDark: #2b2b2b;

$primary-color: #855C1B;
$secondary-color: #388667;
$background-color: #FDF7E9;
$background-color-2: #FFE7C2;
$border: #BE8E4C;
$primary-shadow: 0px 3px 3px -2px rgb(190 142 76), 0px 3px 4px 0px rgb(190 142 76), 0px 1px 8px 0px rgb(190 142 76);
