@use '../variables' as v;

.category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;

    &--sidebar {
        flex-grow: 1;

        background-color: v.$background-color;
        padding: 1.5rem 3rem;
        color: v.$primary-color;
        font-family: v.$Quicksand;
        box-shadow: v.$primary-shadow;
        height: 100%;
        min-width: 18rem;
        max-width: 18rem;

        &-title {
            h4 {
                border-bottom: 1px solid v.$primary-color;
                padding-bottom: 10px;
            }

            &-item {
                a {
                    font-weight: 600;
                    text-transform: uppercase;
                    color: v.$primary-color;

                    &:hover {
                        color: v.$secondary-color;
                    }
                }

                .filterLink {
                    cursor: pointer;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 16px;
                    color: v.$secondary-color;

                    &:hover {
                        color: v.$primary-color;
                        text-decoration: none;
                    }
                }
            }

            &-item:not(:last-child) {
                border-bottom: 1px solid v.$primary-color;
                padding-bottom: 10px;
            }
        }
    }

    &--products {
        flex-grow: 3;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-items {
            display: flex;
            gap: 4rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-pag {
            display: flex;
            justify-content: center;

            &--buttons,
            .pagination {
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-family: v.$Quicksand;
                font-size: 1.5rem;
                color: v.$primary-color;

                a {
                    cursor: pointer;

                    &:hover {
                        color: v.$secondary-color;
                    }
                }
            }

            &--previous,
            &--next,
            .page-link {
                color: v.$primary-color;
                background-color: transparent;
                border: 0;
                padding: 0;
                border-radius: 0;

                &:hover {
                    color: v.$secondary-color;
                }
            }

            &--disabled {
                color: v.$dark;
            }

            &--active,
            .page-item.active .page-link {
                color: v.$indianred;
                background-color: transparent;
                border: 0;
                padding: 0;
                border-radius: 0;
            }
        }
    }
}

.active {
    font-weight: 600;
    text-transform: uppercase;
    color: v.$secondary-color;
    cursor: pointer;
}

.info {
    color: v.$indianred;
    font-weight: 600;
}

.filterButtons {
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;

    &:hover {
        color: v.$secondary-color;
        text-decoration: none;
    }
}


@media (max-width: 1300px) {
    .category {
        display: block;
        width: 100%;
        padding-left: 0;
        margin-left: 0;

        &--sidebar {
            min-width: 80%;
            max-width: 80%;
            margin: 2rem auto;
        }
    }
}
