@use '../variables' as v;

.show {
    margin-top: 2rem;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    &__carousel {
        margin-bottom: 12rem;
        width: 20rem;
        height: 35.5rem;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__paper {
        padding: 1.5rem 3rem;
        width: 20rem;
        height: 100%;
        font-family: v.$Quicksand;
        color: v.$primary-color !important;
        background-color: v.$background-color !important;
        box-shadow: v.$primary-shadow !important;

        &--alternate{
            padding: 1.5rem 3rem;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            font-family: v.$Quicksand;
            color: v.$primary-color !important;
            background-color: v.$background-color !important;
            box-shadow: v.$primary-shadow !important;
        }

        &--rating {
            margin-bottom: 1rem;
            text-align: center;
            p {
                font-size: 1.5rem;
            }
        }

        &--details {
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }

        &--p {
            font-size: 1.2rem;
            font-weight: 600;
            color: v.$secondary-color;
        }

        &--div {
            margin-bottom: 1.2rem;
        }
    }

    &__container {
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 3rem;
        font-family: v.$Quicksand;
        background-color: v.$background-color !important;
        color: v.$primary-color !important;
        box-shadow: v.$primary-shadow !important;

        &--content {
            padding: 1.5rem 3rem;
            background-color: v.$background-color-2 !important;
        }
    }

}

.inStock {
    color: v.$secondary-color;
}

.notInStock {
    color: darkred;
}

.divider {
    border-bottom: 1px solid v.$border;
}

.reviews-form {
    padding: 15px;
    width: 100%;
    margin-top: 15px;
}

.review {
    width: 60%;
    margin-top: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid v.$border;
        margin: 20px 0;
    }

    &-top {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-bottom: 10px;
    }

    &-bottom {
        display: flex;
        flex-direction: column;

        margin-top: 10px;

        &--comment {
          text-indent: 20px;
        }

        &--date {
            align-self: flex-end;
        }
    }

    &-card {
        border: 1px solid v.$border;
        padding: 10px;
    }

    &-card:not(:last-child) {
        margin-bottom: 15px;
    }
}

.rating-from {
    display: flex;
    gap: 15px;
}

.MuiRating-iconFilled {
    color: v.$secondary-color !important;
}

.isPaid {
    color: v.$secondary-color;
}

.notPaid {
    color: v.$indianred;
}

.delivered {
    color: v.$secondary-color;
}

.failed {
    color: darkred;
}


@media (max-width: 1200px) {
    .product__container--po-right, .product__container--po-left {
        width: 100%;
    }
}

@media (max-width: 1350px) {
    .product__container--po-left {
        flex-wrap: wrap;
    }
}
