@use '../variables' as v;

.auth {
    margin-top: 3rem;
    background-color: v.$background-color;
    box-shadow: v.$primary-shadow;

    &-title {
        width: 80%;
        color: v.$primary-color;
        font-family: v.$Quicksand;
    }

    &-form {

        &--action {
            margin-top: 1rem;
            letter-spacing: 1px;

            &__link {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 18px;
                color: v.$primary-color;
                font-family: v.$Quicksand;

                &:hover {
                    color: v.$secondary-color;
                }
            }
        }
    }
}
