@use '../variables' as v;

.cart {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    text-align: center;

    &-empty {
        display: flex;
        justify-content: center;
    }

    &__container {
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 3rem;
        font-family: v.$Quicksand;
        background-color: v.$background-color !important;
        color: v.$primary-color !important;
        box-shadow: v.$primary-shadow !important;
    }
}

.MuiBadge-badge {
    background-color: v.$secondary-color !important;
    color: wheat !important;
}
