@use '../variables' as v;

.order {

    &__container {
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 3rem;
        font-family: v.$Quicksand;
        background-color: v.$background-color !important;
        color: v.$primary-color !important;
        box-shadow: v.$primary-shadow !important;

        &--po {
            &-left {
                display: flex;
                justify-content: center;
                gap: 2rem;

                margin-bottom: 3rem;

                &-detail {
                    width: 100%;
                    &--title {
                        border-bottom: 1px solid v.$border;
                    }

                    &--par {
                        margin-bottom: 2rem;

                    }
                }
            }

            &-right {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 1350px) {
    .order__container--po-left {
        display: flex;
        flex-wrap: wrap;
    }
}
