.navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-list {
        display: flex;
        justify-content: center;
        gap: 35px;

        list-style-type: none;
        padding-left: 0;

        li {
            display: flex;
            justify-content: center;
            align-content: center;

            cursor: pointer;

            a {
                height: 40px;
                width: 40px;

                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $primary-color;

                svg {
                    height: 100%;
                    width: 100%;

                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    color: $secondary-color;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.categories {
    &__nav {
        &-list {
            list-style-type: none;

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 3rem auto;
            padding-left: 0;

            &--item {
                &-menu {
                    font-size: 1.25rem;
                    color: $primary-color;
                    font-weight: 600;
                    font-family: $Playfair;
                    letter-spacing: 1px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        padding-bottom: 5px;
                        border-bottom: 3px solid $border;
                        text-decoration: none;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .categories__nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &--item {
            &-menu {
            }
        }
    }
}
